html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background-color: #673ab7;
    background-image: url("https://img.etimg.com/thumb/msid-62710870,width-640,resizemode-4,imgsize-216230/panigale-v4-price.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.material-icons {
    font-size: 56px !important;
}

.message-card {
    max-width: 70%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: #9575cd;
}

.message-time {
    font-size: 10px;
}